@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");
@import url("tldraw/tldraw.css");

body {
    font-family: "Inter", serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

